mat-sidenav-container {
    height: 100%;

    mat-sidenav {
        background-color: rgb(123, 32, 162);

        mat-nav-list {
            .menu-item {
                margin-left: 8px;
                color: white;
            }

            .chevron-button {
                transition: 300ms ease-in-out;
                transform: rotate(0deg);
            }

            .chevron-button.rotated {
                transform: rotate(180deg);
            }

            mat-icon {
                vertical-align: middle;
            }
        }
    }
}