<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened="isExpanded">
        <mat-nav-list>

            <mat-list-item (click)="isExpanded = !isExpanded">
                <mat-icon mat-list-icon class="chevron-button" [ngClass]="{ rotated: isExpanded }">chevron_right
                </mat-icon>
            </mat-list-item>

            <mat-list-item routerLink="">
                <mat-icon mat-list-icon>home</mat-icon>
                <span *ngIf="isExpanded" class="menu-item">Home</span>
            </mat-list-item>

        </mat-nav-list>
    </mat-sidenav>

    <!-- Content - rendered Content for the current router path into the <router-outlet>, e.g. /dashboard or /info-->
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>