mat-sidenav-container {
    height: 100%;

    mat-sidenav {
        background-color: rgb(123, 32, 162);

        mat-nav-list {
            .menu-item {
                margin-left: 8px;
                color: white;
            }

            mat-icon {
                vertical-align: middle;
            }
        }
    }
}